
<h2>Зробити по user translations</h2>
<ul>
  <li>1. оновлення перекладу враховуючи видалення чи додавання слів</li>
  <li>2. Автоматичне додавання мови для перекладу</li>
  <li>3. Режим навчання - виведення слів із відкритим перекладом</li>
  <li>4. Режим екзамен - виведення слів із закритим перекладом або транскрипцією</li>
  <li>5. пагінація(5 записів на сторінку) без перезавантаження</li>
  <li>6. можливість дозавантажувати переклади скролом без перезавантаження </li>
  <li>7. Після видалення не видаляти переклади а ставити флаг бакет а видаляти окремим екшеном</li>
</ul>

<h2>Зробити по деплою</h2>
<ul>
  <li>1. додати докерфайл</li>
  <li>2. налаштувати оточення</li>
  <li>3. налаштувати сервер</li>
</ul>

<h2>Зробити по книгах</h2>
<ul>
  <li>1. реалізувати дерево книг</li>
  <li>2. Реалізувати можливість не переходити по посиланню книги якщо книга створена як пункт списку і не має містити перекладу</li>
</ul>
